body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/public/ee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.row{
  display:flex;
  flex-wrap:wrap;

}
img{
  margin: 10px;

}
.hello{
  border-radius: 5px;
}
.sub{
  border-radius: 5px;
}
h2{
  color: beige;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}